[submodule "music-player"]
	path = music-player
	url = https://github.com/enesgunduz/music-player
[submodule "film-project"]
	path = film-project
	url = https://github.com/enesgunduz/film-project
[submodule "Random-color"]
	path = Random-color
	url = https://github.com/enesgunduz/Random-color
[submodule "Exchange-rates-api"]
	path = Exchange-rates-api
	url = https://github.com/enesgunduz/Exchange-rates-api
