[submodule "music-player"]
	path = music-player
	url = https://github.com/enesgunduz/music-player
[submodule "Random-color"]
	path = Random-color
	url = https://github.com/enesgunduz/Random-color
[submodule "Exchange-rates-api"]
	path = Exchange-rates-api
	url = https://github.com/enesgunduz/Exchange-rates-api
[submodule "bosluk-portfolio"]
	path = bosluk-portfolio
	url = https://github.com/enesgunduz/bosluk-portfolio
